.exercise-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #29292E;
  }
  
  .exercise-image img {
    max-width: 100px;
    margin-right: 20px;
  }
  
  .exercise-details {
    flex: 1;
    text-align: left;
  }
  
  .exercise-details h2 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .exercise-details p {
    margin: 5px 0 0;
    color: #666;
  }
  